h1 {
    background: green;
}

.p1 {
    background: blue;
    font-size: 32pt;
    color: green;
}

.p2 {
    border: 10px solid yellow;
    border-radius: 5px;
    font-size: 24pt;
}

.p3 {
    font-weight: 900;
    font-size: 20pt;
    font-family: Courier New;
}